.image {
    width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;

    img {
        object-fit: contain;
        max-height: 125vh;
        object-position: center center;
    }
}