@import "../variables.scss";

.intro {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;

    span {
        color: $green;
    }
}

.row {
    display: flex;
    column-gap: 4rem;

    .text {
        h3 {
            color: $blue;
            font-size: 1.5rem;
            font-weight: 700;
        }
    }

    .circle {
        background-color: $blue;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &.small {
            height: 9rem;
            width: 9rem;
        }

        &.big {
            height: 11rem;
            width: 11rem;
        }

        p {
            text-align: center;
            color: #fff;
            margin: 0;
            font-size: 1.05rem;
            font-weight: 600;
            letter-spacing: 0.5px;
        }
    }

    @media screen and (max-width: 768px) {
        row-gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;

        &:first-child {
            margin-bottom: 2rem;

            .circle {
                order: 2;
            }
        }

        .text {
            order: 1;
            width: 100%;
            text-align: center;
        }
    }
}