@import "../variables.scss";

.quote {
    height: 100vh;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    .circle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba($white, 0.75);
        padding: 2rem;
        border-radius: 50%;
        width: 50vh;
        height: 50vh;
        text-align: center;
        max-width: 95vw;
        box-sizing: border-box;

        i {
            color: $blue;
            font-size: 3.5rem;
        }

        .text {
            font-style: italic;
            font-size: 1.2rem;
            margin: 1rem 0 0.5rem 0
        }

        .source {
            font-weight: 600;
            margin: 0;
            color: $blue;
        }
    }

    @media screen and (max-width: 576px) {
        .circle {
            width: 90vw;
            height: 90vw;
            max-width: 90vw;
        }
    }
}