@import "../variables.scss";

.section {
    box-sizing: border-box;
    padding: 6rem;

    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 3rem;


        h1 {
            color: $green;
            margin: 0;
            margin-bottom: 0.5rem;
            font-size: 1.25rem;
            font-weight: 600;
        }

        h2 {
            color: $blue;
            margin: 0;
            font-size: 2rem;
        }


        p {
            font-size: 1.25rem;
            font-weight: 600;
            text-align: center;
            font-family: $headingfont;

            span {
                color: $green;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}