@import "../variables.scss";

.grid {
    display: flex;
    gap: 3rem;
    padding-top: 2rem;

    .text {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .item {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-bottom: 2rem;
            text-align: right;

            h5 {
                font-size: 1.4rem;
                margin: 0;
                margin-bottom: 0.5rem;
                color: $blue;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                gap: 1rem;
            }

            p {
                margin: 0;

            }

            &:nth-child(2) {
                margin-right: 2rem;
            }
        }
    }

    .image {
        width: 50%;
        display: flex;
        justify-content: center;
        max-height: 60vh;

        img {
            width: 100% !important;
            height: 100% !important;
            object-fit: contain !important;
            object-position: left center;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
        align-items: center;

        .image {
            width: 60%;
            height: unset;

            img {
                object-position: center center;
            }
        }

        .text {
            width: 100%;

            .item {
                align-items: center;
                text-align: center;

                h5 {
                    flex-direction: row;
                }

                &:nth-child(2) {
                    margin-right: 0;
                }
            }
        }
    }

    @media screen and (max-width: 576px) {
        .image {
            width: 90%;
        }
    }
}