@import "./variables.scss";

// General
body,
html {
    margin: 0;
    padding: 0;
    background-color: $white;
    font-family: "Open Sans";
    color: $grey;
    overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito";
}


// Container

.container {
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    @media (min-width: 1600px) {
        max-width: 1500px;
    }
}

// Scrollbar

::-webkit-scrollbar {
    width: 6px;

    &-track {
        background: $white;
    }

    &-thumb {
        background: $blue;
        transition: 0.4s ease-in-out;

        &:hover {
            background: $green;
        }
    }

}

// Next Images
.next-image {

    img {
        min-width: unset !important;
        max-width: unset !important;
        min-height: unset !important;
        max-height: unset !important;
        width: 100%;
        height: auto;
    }
}


// UI

.bubble {
    display: block;
    background-color: $green;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
}